:root {
   --navbar-height: 80px;
   --navbar-background-color: rgb(0, 157, 255);
   --navbar-hover-background-color: rgb(0, 119, 255);
   --message-send-button-color: rgb(47, 214, 233);
   --message-send-button-hover-color: rgb(42, 179, 195);
}

*,
*::before,
*::after {
   margin: 0;
   padding: 0;
   border: 0;
   box-sizing: border-box;
   list-style: none;
   outline: none;
   text-decoration: none;
   font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
   background-color: transparent;
}

body {
   width: 100vw;
   height: 100vh;
   overflow: hidden;
}
.flex {
   display: flex;
}
.flex-column {
   display: flex;
   flex-direction: column;
}
.abs-center {
   position: absolute;
   top: 50%;
   left: 50%;
   translate: -50% -50%;
}

#root {
   width: 100vw;
   height: 100vh;
   display: flex;
   flex-direction: column;
}

input, button {
   font-size: 20px;
   padding: 5px 10px;
}
input[type=submit], button {
   cursor: pointer;
}

.form-text {
   padding: 20px 10px;
}
.form-text:focus {
   box-shadow: 2px 5px 10px black;
}
.form-btn {
   padding: 20px 10px;
   min-width: 130px;
   background-color: transparent;
   transition: .3s;
}
.form-btn-green:hover {
   background-color: rgb(103, 227, 103);
}
.form-btn-blue:hover {
   background-color: rgb(104, 247, 247);
}

.navbar {
   flex: 0 0 var(--navbar-height);
   justify-content: flex-end;
   position: relative;
   background-color: var(--navbar-background-color);
}
.navbar div { position: relative; }
.login-status {
   flex: 0 0 250px;
}
.login-status p {
   display: block;
   width: 100%;
   text-align: center;
}
.nav-button {
   height: 100%;
}
.nav-button.home {
   position: absolute;
   top: 0;
   left: 0;
}
.nav-button button {
   display: block;
   width: 100%;
   height: 100%;
   padding: 0 20px;
   line-height: var(--navbar-height);
   color: white;
   font-weight: bold;
}
.nav-button button:hover {
   background-color: var(--navbar-hover-background-color);
}

.content {
   flex: 1;
   position: relative;
   padding: 20px;
}
.content .header {
   flex: 0 0 50px;
   text-align: center;
}

.container-center {
   flex: 1;
   height: 100%;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
}
.container-section {
   width: 100%;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   margin: 10px 0;
}
.rooms-list {
   overflow-y: scroll;
   width: 100%;
   padding: 0 20px;
   margin: 20px 0;
   border-spacing: 0;
   border-collapse: collapse;
}
.rooms-list td, .rooms-list th {
   padding: 5px 10px;
   border: 2px black solid;
}

.room-btn {
   border-radius: 1.3rem;
   font-size: 18px;
}
.enter-room-btn {
   background-color: rgb(122, 235, 122);
}
.enter-room-btn:hover {
   background-color: rgb(89, 191, 89);
}
.delete-room-btn {
   background-color: rgb(233, 109, 109);
}
.delete-room-btn:hover {
   background-color: rgb(183, 78, 78);
}

.input-container {
   flex: 0 0 30px;
   display: flex;
}
.messages-flex-container {
   flex: 0 0 450px;
   overflow: scroll;
   padding: 0;
   margin-bottom: 20px;
}
.messages-flex-container::-webkit-scrollbar {
   width: 0;
}
.messages-container {
   width: 100%;
   min-height: 100%;
}

.input-container button {
   flex: 0 0 50px;
   background-color: var(--message-send-button-color);
   margin-left: 10px;
   border-radius: 5px;
}
.input-container button:hover {
   background-color: var(--message-send-button-hover-color);
}
.input-container input[type=text] {
   flex: 1;
   border-radius: 10px;
   border: 2px black solid;
   font-size: 18px;
}

.message-box {
   padding: 0 10px;
   display: flex;
   flex-direction: column;
}
.message-box div {
   position: relative;
}
.message-by {
   font-size: 13px;
   color: gray;
}

.message-content {
   display: inline-block;
   padding: 4px 8px;
   border-radius: 10px;
   margin: 5px 0;
   background-color: rgb(255, 202, 68);
   max-width: 400px;
   word-wrap: break-word;
   text-align: left;
   white-space: wrap;
   text-align-last: left;
}

.right .message-content {
   float: right;
}
.right .message-by {
   text-align: right;
}

/* phone, iPad */
@media screen and (max-width: 750px) {
   .login-status {
      flex: 0 0 180px;
   }
   .form-btn {
      padding: 5px 10px;
      min-width: 90px;
      font-size: 18px;
   }
}